/* Common styles for all class pages */
.class-page {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  gap: 30px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #0056b3;
}

/* Common learning section styles */
.learning-section {
  background-color: #fff;
  border: 1px solid #e4e0e0;
  font-weight: 600;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.learning-section h2 {
  font-size: 20px;
  color: black;
  border-bottom: 1px solid #e4e0e0;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 600;
}

/* Common box container styles */
.box-container {
  display: grid;
  /*grid-template-columns: repeat(4, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Common box styles */
.box {
  background: linear-gradient(135deg, #4b88ff, #a3d8f4);
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box .material-symbols-outlined {
  font-size: 18px;
}

.box .box-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #4b88ff;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Error message styles */
.error-message {
  color: #dc3545;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}
