/* Common styles for all class pages */
.class-page {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  gap: 30px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #0056b3;
}

/* Common learning section styles */
.learning-section {
  background-color: #fff;
  border: 1px solid #e4e0e0;
  
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.learning-section h2 {
  font-size: 20px;
  color: black;
  border-bottom: 1px solid #e4e0e0;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 600;
}

/* Common box container styles */
.box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Common box styles */
.box {
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  font-size: 18px;
  color: #007bff;
  display: flex;
  align-items: center;
  
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.box .material-symbols-outlined {
  font-size: 18px;
  margin-left: 10px;
}

.box:hover {
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

/* Error message styles */
.error-message {
  color: #dc3545;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}
