.consonant {
  display: flex;
  flex-direction: column;
  margin-top: 30px !important;
  gap: 50px;
}

.consonant a {
  text-decoration: none;
}
.consonant-section {
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 12px;
  padding-bottom: 45px;
}

.consonant-section h2 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 25px;
}

.consonant-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.consonant-box {
  flex: 1 1 150px;
  min-width: 400px;
  background-color: #e8f0fe;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  font-size: 19px;
  color: black;
  box-shadow: 0px 2px 5px rgba(61, 8, 8, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.consonant-box:hover {
  background-color: #dbe4f3;
}
