.grammer-page {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  gap: 30px;
}

.section-title {
  font-size: 28px;
  color: black;
  margin-bottom: 20px;
}

.grammer-learning-section {
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
}

.grammer-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto); /* 필요 시 줄 수 고정 */
  gap: 20px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.grammer-box {
  width: 100%;
  min-height: 80px;
  background-color: #e8f0fe;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grammer-box:hover {
  background-color: #dbe4f3;
}
