.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.header-center {
  position: absolute;
  left: 18%;
  display: flex;
  align-items: center;
  gap: 25px;
  min-width: 300px;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
}

.search {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 160px;
  font-size: 14px;
}

.search-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* 프로필 */
.profile-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 18px;
  outline: none;
  padding: 0;
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  background: white;
  border: 2px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 15px;
  z-index: 1000;
}

.profile-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-option {
  width: 100%;
  background: none;
  border: none;
  padding: 11px 13px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-option:hover {
  background: #f0eeee;
}

/* 햄버거 메뉴 바 */
.sidebar {
  position: fixed;
  top: 85px;
  left: -100%;
  width: 14%;
  height: calc(100vh - 80px);
  background: #ffffff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
}

.sidebar.open {
  left: 0px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  font-size: 18px;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background: #f0eeee;
}

/* 메뉴가 열릴 때 화면을 덮는 overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* sidebar보다 낮게 설정 */
  transition: opacity 0.3s ease-in-out;
}

/* 메뉴가 열려도 헤더 내부 요소 이동 방지 */
.sidebar.open ~ .header .header-center,
.sidebar.open ~ .header .header-right {
  transform: none;
}
