.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 1000;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;


  transition: width 0.3s ease-in-out;
}

.header.open {
  width: 15rem;
  align-items: flex-start;
}

.header-bottom-wrapper {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  height: 100px;
}

.header-bottom {
  width: 100%;
  height: 100%;
}

.header-toggle-btn {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(50%);

  transition: transform 0.2s ease-in-out;
}

.open .header-toggle-btn {
  transform: translateX(50%) rotate(-180deg);
}

.header-logo {
  margin: 0; 
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  overflow: hidden;
  cursor: pointer;
  
}

.header-logo img {
  height: 42px;
  transition: filter 0.2s ease-in-out;
}

.header-logo:hover img{
  filter: brightness(1.3);
}

/* 프로필 */
.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: padding 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.open .profile-container {
  padding: 10px;
}

.open .profile-container:hover {
  background-color: #f0eeee;
}

.profile-container:hover {
  background-color: inherit;
}

.profile-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 0;
  position: relative;
  min-width: 40px;
  min-height: 40px;
}

.profile-menu {
  position: absolute;
  bottom: 0px;
  left: calc(100% + 10px);
  width: 150px;
  background: white;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.profile-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-option {
  background: none;
  border: none;
  padding: 5px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-option:hover {
  background: #f0eeee;
}

.profile-text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  overflow: hidden;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.open .profile-text {
  width: auto;
}

/* 내비게이션 */
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.open .header-nav {
  width: 100%;
}

.header-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav-menu li {
  font-size: 16px;
  font-weight: 500;
  width: min-content;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.header-nav-menu li.active {
  background-color: #007bff;
}

.header-nav-menu li.active span {
  color: white;
}

.open .header-nav-menu li {
  width: auto;
  height: auto;
  border-radius: 5px;
}

.header-nav-menu li:hover {
  background-color: #f0eeee;
}

.header-nav-menu li.active:hover {
  background-color: #006fe6;
}

.header-nav-menu-text {
  margin:0; padding: 0;
  width: 0;
  overflow: hidden;
  transition: width 0.2s ease-in-out, padding-left 0.2s ease-in-out;
}

.open .header-nav-menu-text {
  display: inline;
  padding-left: 8px;
  width: 100%;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
