.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 20px; /* 헤더 아래로 내리기 */
  text-align: center;
  background: linear-gradient(-45deg, #92B8FF, #AECEFF, #C9E4FF, #B29AE8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.login-box {
  background: white;
  padding: 50px;
  border-radius: 15px;
  max-width: 500px;
  width: 80%;
  text-align: center;
}

.login-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #007bff;
}

.input-group {
  width: 93%;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);

  transition: all 0.3s ease;
}

input:focus {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #92B8FF;
}

.forgot-password {
  font-size: 16px;
  color: gray;
  margin-bottom: 25px;
  cursor: pointer;
}

.login-button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.login-button-group button {
  width: 100%;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.login-container .login-button {
  background: linear-gradient(to right, #007bff, #0060ce);
  background-size: 200% 200%;
  color: white;
}

.login-container .signup-button {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #007bff 50%, #0060ce 100%);
  background-size: 210% 200%;
  color: #007bff;
  border: 2px solid #007bff;
}

.login-container .login-button:hover {
  background-position: 100% 0;
}

.login-container .signup-button:hover {
  background-position: 100% 0;
  color: white;
}

@media (max-width: 768px) {
  .login-box {
    width: 95%;
    padding: 40px;
  }

  input {
    font-size: 18px;
    padding: 12px;
  }

  .login-button,
  .signup-button {
    font-size: 18px;
    padding: 12px 30px;
  }

  .social-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
.remember-me-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  user-select: none;
}

.remember-me-label {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remember-me-label input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;

}


.remember-me-label:hover {
  color: #007bff;
}

.remember-me-label:hover input[type="checkbox"] {
  filter: brightness(1.2); /* 체크박스도 살짝 밝게 */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}