.main {
  margin-top: 2rem;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  flex: 0.7;
  padding: 20px;
  height: calc(100vh - 80px - 50px);
  box-sizing: border-box;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-hero {
  /*background: linear-gradient(45deg, #897df3, #59bbfc);*/
  background: linear-gradient(135deg, #7f5af0, #00c9a7, #ff6ac1);
  background-size: 200% auto;
  padding: 40px;
  border-radius: 12px;
  flex: 1;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*
.main-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}
*/

.main-hero-date {
  margin: 0; padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.main-hero-title {
  margin-top: 40px;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  color: white;
  line-height: 2rem;
  
}

.main-hero-title-text {
  font-size: 18px;
  font-weight: 400;
}

.main-row {
  display: flex;
  gap: 20px;
}

.main-box {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 40px;
  border-radius: 12px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
}

.main-box.double-width {
  flex: 1.5;
}

.main-box:last-child {
  flex: 1;
}

.main-box:hover {
  
  background-color: rgba(0, 123, 255, 0.05);
}

.main-box img {
  height: 105%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.main-box:hover img {
  transform: scale(1.05) translateY(-5px);
}

.main-box-text-container {
  position: relative;
  width: fit-content;
  margin-left: auto;
}

.main-box-text {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-align: right;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease;
  background: linear-gradient(90deg, 
    #554dde 0%,
    #59d3fc 50%, 
    #2c3e50 50%, 
    #2c3e50 100%
  );
background-size: 200% 200%;
background-position: 100% 0;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main-box-text-background {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  top: 0;
  left: 0;
  text-align: right;
  position: absolute;
  color: transparent;
  z-index: 1;
}

.main-box:hover .main-box-text {
  background-position: 0% 0;
}

.main-box:hover .main-box-text-background {
  width: 100%;
}

.main-box-report::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/src/assets/images/report-bg.jpg');
  background-size: auto 100%;
  background-position: left 0% bottom 0%;
  background-repeat: no-repeat;
  opacity: 0.5;

  mask-image: linear-gradient(to right, black 40%, transparent 50%);
  -webkit-mask-image: linear-gradient(to right, black 40%, transparent 0%,);
}

