.main {
  margin-top: 90px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  flex: 0.7;
  padding: 20px;
  height: calc(100vh - 80px-50px);
  box-sizing: border-box;
}

/* 학습 */
.class-section {
  background: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  overflow-x: auto;
  white-space: nowrap;
}

.class-section h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 35px;
}

.class-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap; /* 가로 스크롤 활성화 */
  scrollbar-width: thin;
  padding-bottom: 20px;
}

.class-box {
  min-width: 100px;
  overflow: hidden;
  width: 400px;
  height: 250px;
  background: #e8f0fe;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.class-box:hover {
  background: #dbe4f3;
}

/* 보고서 */
.report-section {
  background: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  margin-top: 30px;
}

.report-section h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 35px;
}

.report-box {
  background: #e8f0fe;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

/* 점수 */
.score-section {
  background: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  margin-top: 30px;
}

.score-section h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 35px;
}

.score-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.score-row span {
  width: 40px;
  font-weight: bold;
}

.score-line {
  flex: 1;
  height: 2px;
  background: #ddd;
}

/* 스크롤바 */
.class-container {
  scrollbar-width: thin;
  scrollbar-color: #b9b9bb #f1f1fa;
}
