.report-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 40px 15%;
  gap: 30px;
  /*
  background: linear-gradient(-45deg, #e8f0fe, #d0ecff, #c1dbff, #e3f2ff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  */
  grid-template-areas:
    "title    title     title"
    "chart    chart     recent"
    "feedback feedback  feedback";
}

.report-title {
  font-size: 28px;
  color: #0056b3;
  margin-bottom: 20px;
  grid-area: title;
}

.report-learning-section {
  background-color: #ffffff;
  border: 1px solid #ebecec;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  margin: 0;
}

.report-learning-section h2 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 20px;
  color: #007bff;
  text-align: left;
}

/* 차트 컨테이너 */
.chart-container {
  margin: auto;
}


.chart-section {
  grid-area: chart;
}

/* 피드백 + 5각형 그래프 */
.feedback-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
  
  grid-area: feedback;
}

.radar-chart-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  
}


.feedback-box {
  background-color: #f2f4ff;
  flex-basis: 100%;
  height: 100%;
  padding: 0px 40px;
  font-size: 18px;
  text-align: left;
  position: relative;
  z-index: 1;
}

.feedback-box::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  transform: translateX(50%) translateY(20%);

  width: 100%;
  height: 100%;
  background: url('/src/assets/images/report-feedback.png') no-repeat;
  background-size: contain;

  z-index: -1;
  
}

.feedback-box p {
  margin: 30px 0;
  line-height: 1.5rem;
  z-index: 1;
}

.feedback-box p strong {
  display: block;
  color: #0056b3;
}

.feedback-doughnut-wrapper {
  position: relative;
  width: fit-content;
  margin: 10px 0;
}

.feedback-doughnut {
  max-width: 8rem;
  max-height: 8rem;
}

.feedback-doughnut-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #0056b3;
  font-size: 18px;
  font-weight: 600;
  
}

/* 최근 학습 */
.recent-section {
  background: linear-gradient(135deg, #6d9eff, #8cd7ff);
  color: white;
}

.recent-section h2 {
  color: #fff;
}

.recent-container {
  display: flex;
  flex-wrap: row;
  gap: 0px;
  justify-content: center;
  grid-area: recent;
}

.recent-box {
  background-color: #ffffff;
  border: 1px solid #a3cfff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background-color: #e8f0fe;
  min-width: 300px;
}

.recent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.recent-container > div {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}


.recent-container > div h3 {
  font-size: 20px;
  color: #2A3335;
  margin: 0;
}

.recent-container > div p {
  margin: 20px 0;
  line-height: 1.5rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.recent-container > div p > span {
  color: #2A3335;
  font-weight: 600;
  text-shadow: none;
}

.recent-container > div p:last-child {
  margin-bottom: 0;
}
