.sentence {
  display: flex;
  flex-direction: column;
  margin-top: 80px !important;
  gap: 80px;
}

.section-title {
  font-size: 28px;
  color: #0056b3;
  margin-bottom: 20px;
}

.sentence-section {
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  border-radius: 12px;
  padding-bottom: 45px;
}

.sentence-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 20px;
}

.sentence-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sentence-box {
  flex: 1 1 150px;
  min-width: 400px;
  background-color: #e8f0fe;
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  font-size: 18px;
  color: #0056b3;
  box-shadow: 0px 2px 5px rgba(61, 8, 8, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #dbe4f3;
}
