.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.signup-box {
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 80%;
  text-align: center;
}

.signup-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.input-group {
  width: 93%;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.signup-button {
  padding: 15px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #0056b3;
  color: white;
}

@media (max-width: 768px) {
  .signup-box {
    width: 95%;
    padding: 40px;
  }

  input {
    font-size: 18px;
    padding: 12px;
  }

  .signup-button {
    font-size: 18px;
    padding: 12px 30px;
  }
}
