.word-study {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 30px !important;
  padding: 40px;
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  margin: auto;
}

.breadcrumb {
  font-size: 22px;
  color: #666;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #0056b3;
  width: 100%;
  max-width: 850px;
}

.highlight {
  font-weight: bold;
  color: #0056b3;
}

.word-display {
  background-color: #e8f0fe;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.word {
  font-size: 36px;
  font-weight: bold;
  color: #0056b3;
}

.word-pronunciation {
  font-size: 18px;
  color: #666;
  margin-top: 0px;
}

.mic-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}

.mic-text {
  font-size: 20px;
  color: #888;
}

.progress-bar {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #f8f9fa;
  margin-top: -20px;
  padding: 20px;
  width: 100%;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.completed {
  background-color: #99ccff;
}

.current {
  background-color: #0056b3;
  color: white;
}

.loading-message,
.error-message {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ff4d4f;
  margin-top: 300px; /* 🔹 화면 아래로 이동 */
}
