.word-page {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  gap: 30px;
}

.section-title {
  font-size: 28px;
  color: #0056b3;
  margin-bottom: 20px;
}

.word-learning-section {
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.word-learning-section h2 {
  font-size: 20px;
  color: black;
  border-bottom: 1px solid #e4e0e0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.word-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.word-box {
  flex: 1 1 150px;
  min-width: 150px;
  max-width: 200px;
  background-color: #e8f0fe;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  font-size: 19px;
  color: black;
  box-shadow: 0px 2px 5px rgba(61, 8, 8, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.word-box:hover {
  background-color: #dbe4f3;
}
