venv/
venv/*
env/
.venv/
.env/
.env
docs/

outputs/

*.log

.DS_Store

.metadata/
*.label
*.script
*.bin
*.zip
*.idea

experiment/
experiment/*
data/sample
data/sample/*
data/data_list/debug_list.csv
data/data_list/sample_list.csv

docs/training
docs/training/*
__pycache__/
*.pyc
.idea
.ipynb_checkpoints